<h3 class="text-center">Let's Learn Pipes</h3>

<div class="border border-3 rounded-3 p-3 m-3">
  <h5>uppercase ,lowercase, titlecase pipe </h5>
  <div>Name: {{userName}}</div>
  <div>Name: {{userName | uppercase}}</div>
  <div>Name: {{userName | lowercase}}</div>
  <div>Name: {{userName | titlecase}}</div>
</div>

<div class="border border-3 rounded-3 p-3 m-3">
  <h5>currency pipe:: </h5>
  <div>Salary: {{salary}}</div>
  <div>Salary: {{salary | currency }}</div>
  <div>Salary: {{salary | currency: 'INR'}}</div>
            <!-- input | pipeName : arguments-->
  <div>Salary: {{salary | currency: '&euro;'}}</div>
  <div>Salary: {{salary | currency: '&yen;'}}</div>
</div>

<div class="border border-3 rounded-3 p-3 m-3">
  <h5>Date pipe:</h5>
  <div>{{ dateObj | date }}</div>
  <div>{{ dateObj | date :'short'}}</div> <!-- Short Date + Short Time -->
  <div>{{ dateObj | date :'medium'}}</div> <!-- medium Date + medium Time -->
  <div>{{ dateObj | date :'long'}}</div> <!-- long Date + long Time -->
  <div>{{ dateObj | date :'full'}}</div> <!-- full Date + full Time -->
  ==================
  <div>{{ dateObj | date : 'shortDate' }}</div>
  <div>{{ dateObj | date : 'mediumDate' }}</div>
  <div>{{ dateObj | date : 'longDate' }}</div>
  <div>{{ dateObj | date : 'fullDate' }}</div>
  =================
  <div>{{ dateObj | date : 'shortTime' }}</div>
  <div>{{ dateObj | date : 'mediumTime' }}</div>
  <div>{{ dateObj | date : 'longTime' }}</div>
  <div>{{ dateObj | date : 'fullTime' }}</div>
  ==============
  <div>{{ dateObj | date : 'dd-MMM-yyyy' }}</div>
  <div>{{ dateObj | date : 'hh:mm:ss a' }}</div>
  <div>{{ dateObj | date: "fullTime":"UTC" }}</div>
  <div>{{ dateObj | date: "fullTime":"IST" }}</div>
  <div>{{ dateObj | date: "EEEE" }}</div> <!-- Weekday-->
</div>

<div class="border border-3 rounded-3 p-3 m-3">
  <h5>Number & percent pipe:</h5>
  <div> {{100000000 | number}} </div>
  <div>{{ 12.111222333 | number: "3.2-5" }}</div>
  <div>{{ 12.1 | number: "3.2-5" }}</div>
  <div>{{ 0.5 | number:'3.2-5'}}</div>
  -------------
  <div>{{ 2.5 | percent}}</div>
  <div>{{ 2.5 | percent:'2.2-5'}}</div>
  <div>{{ 0.024 | percent}}</div>
  <div>{{ 0.026 | percent}}</div>
</div>

<div class="border border-3 rounded-3 p-3 m-3">
  <h5>json & keyvalue Pipe:</h5>
  <div>{{user}}</div>
  <div>{{user | json}}</div>

  @for(entry of user | keyvalue ;track $index){
  <h5>{{entry.key}}---{{entry.value}}</h5>
  }
</div>

<div class="border border-3 rounded-3 p-3 m-3">
  <h5>slice Pipe:</h5>
  <div>{{cars | slice : 2 }}</div>
  <div>{{cars | slice : 2 : 4}}</div>
  <div>{{'Angular is a Framework' | slice : 0 : 7}}</div>
  <div>{{'Angular is a Framework' | slice : 0 : -4}}</div>
</div>


<div class="border border-3 rounded-3 p-3 m-3">
  <h5>Custom Pipe: (remaining)</h5>
  <textarea [(ngModel)]="msg"></textarea>
  <div>Message: {{msg}}</div>
  <div>Remaining Chars: {{msg | remaining}}</div>
</div>

<div class="border border-3 rounded-3 p-3 m-3">
  <pre>
   1. Create a custom pipe(ordinal) which takes a number as input and returns in ordinal format
   input : 21,22,23,24
   output : 21st, 22nd , 23rd, 24th
  </pre>
  <input type="number" [(ngModel)]="num">
  <div>input Number: {{num}}</div>
  <div>Ordinal Number: {{num | ordinal}}</div>
</div>

<div class="border border-3 rounded-3 p-3 m-3">
  <pre>
   2. create a custom pipe(creditcard) which takes a creditcard as input and returns masked creditcard
   input :  1111222233334444
   output : 1111-2222-3333-4444
  </pre>
  <input [(ngModel)]="creditCardNumber">
  <div>input Number: {{creditCardNumber}}</div>
  <div>Ordinal Number: {{creditCardNumber | creditcard}}</div>
</div>

<div class="border border-3 rounded-3 p-3 m-3">
  <pre>
   3. create a custom pipe called 'age' which takes a date as input and returns the age in years.
   input : 04-06-2020
   output : 6 years old
  </pre>
  <input [(ngModel)]="dob" type="date">
  <div>input Number: {{dob}}</div>
  <div>Age: {{dob | age}} years</div>
</div>

<div class="border border-3 rounded-3 p-3 m-3">
  <h4>Employee List</h4>
  <input type="search" [(ngModel)]="searchText" />
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>EmpId</th>
        <th>name</th>
        <th>role</th>
        <th>salary</th>
        <th>gender</th>
        <th>status</th>
      </tr>
    </thead>
      <tbody>
        @for (emp of employees |filter:searchText; track $index) {
          <tr>
            <td>{{emp.id}}</td>
            <td>{{emp.name | salutation : emp.gender}}</td>
            <td>{{emp.role}}</td>
            <td>{{emp.salary}}</td>
            <td>{{emp.gender}}</td>
            <td>{{emp.status}}</td>
          </tr>
        }
      </tbody>
   </table>
</div>
