<h3 class="text-center">Let's Learn Directives</h3>

<div class="border border-3 rounded-3 p-3 m-3">
  <div>If Else</div>

  <input type="number" [(ngModel)]="num" />
  @if (num % 2 == 0) {
    <div>{{ num }} is Even</div>
  } @else {
    <div>{{ num }} is Odd</div>
  }
</div>

<div class="border border-3 rounded-3 p-3 m-3">
  <div>Switch Case:: </div>
  @switch (num) {
    @case (1) { <h1>Monday</h1> }
    @case (2) { <h1>Tuesday</h1> }
    @case (3) { <h1>Wednesday</h1> }
    @case (4) { <h1>Thursday</h1> }
    @case (5) { <h1>Friday</h1> }
    @case (6) { <h1>Saturday</h1> }
    @case (7) { <h1>Sunday</h1> }
    @default { <h1>Not a Valid number</h1> }
  }
</div>

<div class="border border-3 rounded-3 p-3 m-3">
  <h3>Country List::</h3>
  <ul>
    @for (country of countries; track $index) {
      <li>{{country}}</li>
    }
  </ul>

  <h3>Country Dropdown::</h3>
  <select>
    @for (country of countries; track $index) {
      <option>{{country}}</option>
    }
  </select>
</div>

<div class="border border-3 rounded-3 p-3 m-3">
   <h3>Employee List::</h3>

   <table class="table table-bordered">
    <thead>
      <tr>
        <th>EmpId</th>
        <th>name</th>
        <th>role</th>
        <th>salary</th>
        <th>gender</th>
        <th>status</th>
        <th>isFirst?</th>
        <th>isLast?</th>
        <th>isEven?</th>
        <th>isOdd?</th>
      </tr>
    </thead>
      <tbody>
        @for (emp of employees; track $index) {
          <tr>
            <td>{{emp.id}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.role}}</td>
            <td>{{emp.salary}}</td>
            <td>{{emp.gender}}</td>
            <td>{{emp.status}}</td>
            <td>{{$first}}</td>
            <td>{{$last}}</td>
            <td>{{$even}}</td>
            <td>{{$odd}}</td>
          </tr>
        }
      </tbody>
   </table>
</div>

<div class="border border-3 rounded-3 p-3 m-3">
  <div>ngStyle is used to apply some style conditionally.</div>

  <input type="number" [(ngModel)]="num">
  <p [style.color]="num % 2 == 0 ? 'blue' : 'red'"> Add a style </p>
  <p [style.fontSize.px]='num % 2 == 0 ? 24 : 36'> Add style with unit </p>
  <p [style.background-color]=" num % 2 == 0?'green':'blue' "> Add style conditionally </p>
  <p [ngStyle]="num % 2 == 0 ? myStyle1 : myStyle2"> NgStyle for multiple values </p>
  <p [ngStyle]="myFunction()"> NgStyle for multiple values </p>
</div>

<div class="border border-3 rounded-3 p-3 m-3">
  <div>ngClass is used to apply some css class conditionally.</div>

  <input type="number" [(ngModel)]="num">
  <button class="btn mx-2" [ngClass]="num%2==0? 'btn-success' : 'btn-danger'">
    Class Binding example
  </button>
</div>
